body {
  overflow-y: auto;
}
a {
  text-decoration: none;
}
.movies {
  display: grid;
  justify-content: center;
  gap: 10px;
  padding: 50px 10px;
  grid-template-columns: repeat(5, 1fr);
}
.movie {
  --size: 200px;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.movie h1 {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 30%; */
  margin: auto;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  color: white;
  font-size: 20px;
}
.movie img {
  width: 100%;
}
.movie div.no-poster {
  background-color: aqua;
  color: black;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* more 버튼디자인 */
.actions {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.btn--more {
  font-size: 40px;
  padding: 20px 40px;
  background-color: orange;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}
