h1 {
  color: red;
}

.container {
  display: flex;
}
.container .poster {
  width: 300px;
  height: 300px;
}
.container .movie-info {
}
.container .movie-info .short-info {
  display: flex;
  color: blue;
}
.container .movie-info .plot {
}
.container .movie-info .ratings {
  color: orange;
}
.container .movie-info .actors {
}
.container .movie-info .director {
}
.container .movie-info .production {
}
.container .movie-info .genre {
}
